@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html{
    height: 100%;
}
.navbar{
    padding: 10px;
    font-size: 1rem;
}
.navbar-light .navbar-brand {
    color: rgb(146, 85, 85);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(146, 85, 85);
}
a{
    color: rgb(146, 85, 85);
}
a:hover{
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;
}
